/* Split the screen in half */
body{
  font-family: "Lucida Console", "Courier New", monospace;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    width: 75%;
    left: 0;
    background-color: white;
  }
  
  /* Control the right side */
  .right {
    width: 25%;
    right: 0;
    background-color: #50cafa;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  .bet-title{
    text-align: center;
  }

  .bet-footer{
    position: absolute;
    bottom: 30px;
  }

  .match{
  display:block;
  border-width:2px;
  border-style:solid;
  border-color:black;
  margin: 10px;
  width: '300px'; /* not working */
  }

  .games-names{
    font-weight: bold;
  }